<h5>Item:</h5>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<h5>Links:</h5>
<p>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
      </tr>
    </thead>
    <tbody>
      <% @item.links.each do |link| %>
        <tr>
          <td>
            <%= link.name %>
          </td>
          <td>
            <%= link.description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
